/* WEB FONT DEFINITIONS */
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=f9ac3543-91fb-4e59-8998-de20dfc9c564");
@font-face{
               font-family:"AvenirNextLTW01-Medium";
               src:url("../fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?iefix") format("eot");
}
@font-face{
               font-family:"AvenirNextLTW01-Medium";
               src:url("../fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?iefix");
               src:url("../fonts/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"),url("../fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"),url("../fonts/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
}
@font-face{
               font-family:"AvenirNextLTW01-Heavy";
               src:url("../fonts/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?iefix") format("eot");
}
@font-face{
               font-family:"AvenirNextLTW01-Heavy";
               src:url("../fonts/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?iefix");
               src:url("../fonts/181c847e-cdbc-43d5-ae14-03a81c8953b4.woff") format("woff"),url("../fonts/045d1654-97f2-4ff0-9d24-21ba9dfee219.ttf") format("truetype"),url("../fonts/3c111f4f-c9f7-45d4-b35f-4f4ed018842f.svg#3c111f4f-c9f7-45d4-b35f-4f4ed018842f") format("svg");
}
/* END: WEB FONT DEFINITIONS */

.clear {
	clear:both;
	height:0;
	font-size:0;
}
ul {
	padding:0;
	margin:0;
}
li {
	padding:0;
	margin:0;
	list-style:none;
}
.fleft {float:left;
}
.fright {float:right;
}


.content_section {
	padding-top:45px;
	padding-bottom:60px;
}

h4.title {
	font-style:normal;
	font-size:16px;
	font-weight:400;
	color:#cccccc;
	padding:0;
	margin:0 0 23px 0;
	line-height:20px;
	font-family: 'AvenirNextLTW01-Medium', arial, sans-serif;
}


li { line-height: 18px;
}
p {
	padding:0;
	margin:0 0 8px 0;
}


.carouselslider  {
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	transition: opacity 400ms;
	-webkit-transition: opacity 400ms;
	position:relative;
	margin:0 auto;
}
.carouselslider ul {
	margin:0;
	padding:0;
	list-style:none;
}
.carouselslider ul li:before {
	content:''!important;
	margin:0!important;
	padding:0!important
}
.carouselslider ul li {
	float:left;
	display:inline-block;
	padding:0 0 0 20px !important;
	margin:0;
	font-style:normal;
}
.carousel-previous,
.carousel-next {
	width:7px!important;
	height:13px;
	padding:0!important;
	display:block;
	position:absolute!important;
	border:none;
	cursor:pointer;
	top:-41px!important;
	left:auto!important;
	border-radius:0!important;
	background-color:transparent !important;
	margin-top:0!important;
	opacity: 1!important;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100)!important;
}
.carouselslider a {
	transition: color 300ms;
	-webkit-transition: color 300ms;
}
.carousel-previous {
	right:22px!important;
	background-image:url(../images/carousel_prev.png) !important;
}
.carousel-next {
	right:0px!important;
	background-image:url(../images/carousel_next.png) !important;
}
.carouselslider .carousel-previous:hover,
.carouselslider .carousel-next:hover {
	opacity: 0.5!important;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50)!important;
}
.carouselslider .disabled, .carouselslider .disabled:hover {
	cursor:default;
	opacity: 1!important;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100)!important;
}

.item_list {overflow:hidden;
}
.carousel_wrapper {
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:-100%;
	display:none;
	opacity: 0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	transition: top 400ms;
	-webkit-transition: top 400ms;
}
.carouselslider .item:hover .img_block .carousel_wrapper {top:0%;
}
.carousel-wrap .carousel_wrapper {display:block;
}



.desc_block {
	padding-bottom:7px;
	color:#656565;
	font-size:13px;
}
.separator {padding:0 11px;
}

.hover_img {
	position:relative;
	background:#007379;
}
.zoom {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background-image:url(../images/zoom.png);
	background-repeat:no-repeat;
	background-position: center center;
	z-index:5;
	display:block;
	text-indent:-9999px;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	transition: all 0.4s ease-in-out !important;
	-webkit-transition: all 0.4s ease-in-out !important;
}

.page_section header div.container h1 {
	font-size: 43px;
	padding:0 0 10px 0;
	margin:0;
	text-align: center;
	color:#000000;
	font-weight:300;
	font-family: 'AvenirNextLTW01-Medium', arial, sans-serif;
	line-height:41px;
	opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	text-transform:uppercase;
}
.page_section header div.container h1 b {font-weight:800;
}
.page_section header div.container p {
	color:#404040;
	font-weight:300;
	text-align: center;
	font-size:20px;
	font-family: 'AvenirNextLTW01-Medium', arial, sans-serif;
	line-height:24px;
	padding:0 20px 10px 20px;
	margin-bottom:0;
}


.video {padding-bottom:5px;
}
.video iframe {
	padding:0;
	margin:0;
	border:0;
	width:100% !important;
}


/* All Resolutions */
.filter_img {
	overflow:hidden;
	position:relative;
}
.filter_img img {
	display:block;
	width:100%;
	height:auto;
}
.image-grid .element {
	background:none;
	overflow:hidden;
	display:inline-block;
	margin-bottom:0;
}

.columns4 {
	margin:0!important;
	width:100%;
}
.columns4 .element a {display:block;
}
.columns4 .element {
	width:16.66666666666667%;
	margin: 0 !important;
}
.filter_navigation { overflow:hidden;
}
.portfolio_descr {text-align:center;
}
.filter_block,
.filter_navigation,
.filter_navigation ul,
.filter_navigation ul li ul {display:block!important;
}
.filter_navigation {
	margin-bottom:85px!important;
	text-align:center;
}
.filter_navigation ul, .filter_navigation ul li ul {
	padding:0!important;
	margin:0!important;
	list-style:none!important;
}
.filter_navigation ul li, .filter_navigation ul li ul li {
	padding:0!important;
	margin:0!important;
}
.filter_navigation ul li:before, .filter_navigation ul li ul li:before {
	content:''!important;
	padding:0!important;
}
.filter_navigation ul li ul {
}
.filter_navigation ul li ul li {
	display:inline-block;
	position:relative;
	margin:0 5px 5px 0;
}
.filter_navigation ul li ul li a {
	display:block;
	margin:0;
	text-decoration:none;
	font-family: 'AvenirNextLTW01-Medium', arial, sans-serif;f;
	border:0;
	line-height:20px;
	font-size:14px;
	padding:10px 21px;
	font-weight:400;
	text-transform:none;
	vertical-align:top;
	text-align:center;
	color:#eeeeee;
	background:#7f7777;
}
.filter_navigation ul li ul li.selected a,
.filter_navigation ul li ul li a:hover {
	color:#fff;
	background:#007379;
}

#blog {/*position: relative;*/
}
#blog header{
	background-image:url(../images/slide_bg/slide4_bg.jpg);
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}

.post_type {
	display:none !important;
	width:58px;
	height:95px;
	position:absolute;
	right:-79px;
	//top:-19px;
	top: -9.5px;
	//background: url(../images/post_type.png) no-repeat left top;
	background: url(../images/post_type.58x75.png) no-repeat left top;
}
.post_type:before {
	width:48px;
	height:48px;
	position:absolute;
	left:5px;
	//top:23px;
	top:13px;
	background-position:0 0;
	background-repeat:no-repeat;
	content:'';
	z-index:200;
	background-color:#ffffff;
	border-radius:50%;
	-webkit-border-radius:50%;
}
.first_post .post_type {top:84px;
}
.right_blog_posts .blog_post.first_post:before {background-position:0 0;
}
.text_type:before {background-image:url(../images/text_type.png);
}
.chat_type:before {background-image:url(../images/chat_type.png);
}
.chat2_type:before {background-image:url(../images/chat_type2.png);
}
.comment_type:before {background-image:url(../images/comment_type.png);
}
.photoset_type:before {background-image:url(../images/photoset_type.png);
}
.audio_type:before {background-image:url(../images/audio_type.png);
}
.image_type:before {background-image:url(../images/image_type.png);
}
.video_type:before {background-image:url(../images/video_type.png);
}
.link_type:before {background-image:url(../images/link_type.png);
}

.shortcode_button {
	display:inline-block;
	margin:0 10px 10px 0px;
	text-decoration:none;
	font-family: 'AvenirNextLTW01-Medium', arial, sans-serif;
	border:0;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	line-height:20px;
	font-size:14px;
	padding:10px 20px;
	font-weight:400;
	text-transform:none;
	vertical-align:top;
	text-align:center;
}
.shortcode_button.btn_type1 {
	color:#eeeeee;
	background:#7f7777;
}
.shortcode_button.btn_type1:hover {
	color:#fff;
	background:#007379;
}

.blog_container {
	margin-bottom:46px;
	background:url(../images/blog_bg.png) repeat-y center top;
	position:relative;
}

.outerlimits .blog_container{ text-align: left;}
.blog_container:before {
	position:absolute;
	width:100%;
	height:30px;
	background:#ffffff;
	right:0;
	left:0;
	bottom:0;
	content:'';
}
.left_blog_posts,
.right_blog_posts {
	float:left;
	width:519px;
}
.right_blog_posts {	float:right;
}
.left_blog_posts .blog_post:before {
	display:none;
	position:absolute;
	width:15px;
	height:100%;
	background-image:url(../images/post_even_arrow.png);
	background-position:0 -90px;
	background-repeat:no-repeat;
	right:0;
	top:0;
	content:'';
	z-index:100;
}
.right_blog_posts .blog_post:before {
	display:none;
	position:absolute;
	width:15px;
	height:100%;
	background-image:url(../images/post_odd_arrow.png);
	background-position:0 -90px;
	background-repeat:no-repeat;
	left:0;
	top:0;
	content:'';
	z-index:100;
}
.blog_post {
	position:relative;
	margin-bottom:30px;
	min-height:58px;
	background:#ffffff;
	padding:14px 29px 25px 14px;
}
.right_blog_posts .blog_post {padding:14px 14px 26px 29px;
}
.blog_post iframe {
	padding:0;
	margin:0 0 -5px 0;
	border:0;
}

.posts-featured-image{
  position:relative;
	width:100%;
	height:auto;
	overflow: hidden;

}

.posts-featured-image img{
	width:100%;
	height:auto;


}


.blog_post h4 {
	font-style:normal;
	font-size:16px;
	font-weight:400;
	color:#0087B0;
	padding:0 0px;
	margin:15px 0 0 0;
	line-height:20px;
	font-family: 'AvenirNextLTW01-Medium', arial, sans-serif;
	text-align:left;
}
.blog_post h4 a {
	font-style:normal;
	font-size:16px;
	font-weight:400;
	color:#0087B0;
	line-height:20px;
	font-family: 'AvenirNextLTW01-Medium', arial, sans-serif;
}
.blog_post h4 a:hover {color:#007379;
}
.blog_post .desc_block {
	padding:15px 5px 7px 0px;
	color:#656565;
	font-size:13px;
	text-align:left;
}
.post_info {
	padding:7px 5px 0 0px;
	font-size:12px;
	color:#656565;
	float:left;
}
.post_info .separator {color:#a9a8a8;
}
.post_socials {
	padding:6px 0 0 0;
	float:left;
}
.post_socials ul {
	padding:0;
	margin:0;
}
.post_socials li {
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align:top;
	margin-right:7px;
}
.post_socials li:last-child {margin-right:0;
}
.post_socials li a {
	width:20px;
	height:18px;
	display:block;
	text-indent:-9999px;
	background-position:20px 18px;
	background-repeat:no-repeat;
	background-image:url(../images/post_socials.png);
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.post_socials li a.fb {background-position:0 0;
}
.post_socials li a.twitter {background-position:-33px 0;
}
.post_socials li a.pinterest {background-position:-62px 0;
}
.post_socials li a.google_plus {background-position:-92px 0;
}
.post_socials li a:hover {
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.right_blog_posts .post_type {
	right:auto;
	left:-79px;
}

/*Blog Pager*/
.pagerblock {
	padding-top:4px!important;
	text-align:center;
}
.pagerblock li {
	padding:0!important;
	margin:0 1px 5px 0!important;
	display:inline-block;
}
.pagerblock li:before {
	content:'';
	display:none!important;
}
.pagerblock li a,
.pagerblock li span {
	border:1;
	border-radius:0;
	box-shadow:none;
	width:40px;
	height:40px;
	font-size:14px;
	font-weight:400;
	line-height:40px;
	text-align:center;
	display:block;
	color:#009AA2;
	background:#FFFFFF;
	font-style:normal;
	font-family: 'AvenirNextLTW01-Medium', arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color:#009AA2;
}
.pagerblock li a:hover, .pagerblock li span {
	background:#007379;
	color:#fff;
}

.comment_post_desc {
	padding:2px 24px 9px 24px;
	text-align:center;
	font-size:12px;
}
.top_title {margin-top:11px !important;
}

.last_post h4 {padding-bottom:5px;
}
.right_blog_posts .blog_post.last_post:before {background-position:0 -10px;
}
.last_post .post_type {top:74px;
}


/*-- Popular Posts & Recent Posts --*/
.popular_posts,
.recent_posts {
	list-style:none;
	margin: 0;
	padding:0;
}
.popular_posts li,
.recent_posts li {
	float:none;
	margin:0;
	padding:0;
	display:block;
	margin-bottom:10px;
	overflow:hidden;
}
.popular_posts li img,
.recent_posts li img {
	display:block;
	float:left;
	margin:0 16px 0 0;
}
.popular_posts li .post_title,
.recent_posts li .post_title  {padding:0 0 6px 0;
}


iframe {
	width:100% !important;
	margin:0 !important;
	padding:0 !important;
	border:0 !important;
	max-width:100% !important;
	overflow-y: hidden !important;
}

