/*!
 * jQVMap Version 1.0
 *
 * http://jqvmap.com
 *
 * Copyright 2012, Peter Schmalfeldt <manifestinteractive@gmail.com>
 * Licensed under the MIT license.
 *
 * Fork Me @ https://github.com/manifestinteractive/jqvmap
 */
/* line 12, ../sass/jqvmap.scss */
.jqvmap-label {
  position: absolute;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #292929;
  color: white;
  font-family: sans-serif, Verdana;
  font-size: smaller;
  padding: 3px;
}

/* line 25, ../sass/jqvmap.scss */
.jqvmap-zoomin, .jqvmap-zoomout {
  position: absolute;
  left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #000000;
  padding: 3px;
  color: white;
  width: 10px;
  height: 10px;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
}

/* line 41, ../sass/jqvmap.scss */
.jqvmap-zoomin {
  top: 10px;
}

/* line 45, ../sass/jqvmap.scss */
.jqvmap-zoomout {
  top: 30px;
}

/* line 49, ../sass/jqvmap.scss */
.jqvmap-region {
  cursor: pointer;
}

/* line 53, ../sass/jqvmap.scss */
.jqvmap-ajax_response {
  width: 100%;
  height: 500px;
}
