/* Responsive changes */
@media (max-width: 979px) {	
}
@media (max-width: 767px) {
	.single_page #top header,
	#top header {background:#070707 !important;
	}
	
 .footer_sidebar {
	 padding-left:20px;
	 padding-right:20px;
	 width:auto !important;
  }
    .full_slider_caption {
		font-size: 16px;
		line-height: 18px;
	}
	.slide_title {
		line-height:24px;
		font-size:20px;
	}

	.blog_post {
		padding-left:14px !important;
		padding-right:14px !important;
	}
	.single_page .page_section {margin-top:75px;
	}

	
  /*section header {
	margin-left:-20px;
	margin-right:-20px;
	padding-right:20px;
	padding-left:20px;
  }  */
  
	.blog_container {background-image:none;
	}
	.left_blog_posts,
	.right_blog_posts {
		float:none;
		width:100%;
	}
	.left_blog_posts .blog_post:before,
	.right_blog_posts .blog_post:before {display:none;
	}
	.post_type {display:none;
	}
	.blog_post h4 {	padding:0 0 0 0;
	}
	.blog_post .desc_block {padding:0 0 0 0;
	}	
	.post_info {padding:7px 0 0 0;
	}
	.post_socials {
		padding:7px 0 0 0;
		float:right;
	}
	.right_blog_posts .blog_post h4 {padding:0 0 0 0;	
	}
	.right_blog_posts .blog_post .desc_block {padding:0 0 0 0;
	}
	.right_blog_posts .blog_post .post_info {padding:7px 0 0 0;
	}
	.right_blog_posts .blog_post .post_socials {padding:7px 0 0 0;
	}
	.blog_post img {width:100%;
	}
	.footer_sidebar .col-md-3 {padding-bottom:30px;
	}
	section header h1 {
		font-size:25px !important;
		line-height:25px !important;
	}	
	
	.refuge-day-image {
float: left;
display: block;
position: relative;
margin: 0 10px 0 0;
height: auto;
max-width: 46%;
}

div.refuge-day-image > img {height:auto; max-width:100%}

.refuge-day-text {
float: left;
display: block;
position: relative;
width: 50%;
}
		
}
@media (max-width: 500px) {
.refuge-day-image {
float: left;
display: block;
position: relative;
margin: 0 10px 0 0;
height: auto;
max-width: 46%;
}

div.refuge-day-image > img {height:auto; max-width:100%}

.refuge-day-text {
float: left;
display: block;
position: relative;
width: 50%;
}
    
}
@media (max-width: 480px) {
		.WRD_button {width: 90%;
height: auto;
margin-top: 15%}
}
}

@media only screen and (min-width: 767px) and (max-width: 959px) {
	.left_blog_posts,
	.right_blog_posts {	width:311px;
	}
	.full_slider_caption {
		font-size: 18px;
		line-height: 21px;
	}
	.slide_title {
		line-height:40px;
		font-size:35px;
	}
	
}
@media only screen and (min-width: 960px) and (max-width: 992px) {
	.left_blog_posts,
	.right_blog_posts {	width:311px;
	}	
	
@media only screen and (min-width: 993px) and (max-width: 1199px) {
	.left_blog_posts,
	.right_blog_posts {	width:420px;
	}	


.refuge-day-image {
float: left;
display: block;
position: relative;
margin: 0 10px 0 0;
height: auto;
max-width: 46%;
}

div.refuge-day-image > img {height:auto; max-width:100%}

.refuge-day-text {
float: left;
display: block;
position: relative;
width: 50%;
}
}

/*-- Carousel --*/
@media only screen and (min-width: 1200px) {
	.carouselslider ul li {	padding:0 0 0 30px!important;
	}
	.margin-fixer {
		margin-left:-30px!important;
		height:auto!important;
	}
	.col-md-12 .items6 li {width:195px;
	}
	.col-md-12 .items5 li {width:234px;
	}	
	.col-md-12 .items4 li {width:292px;
	}	
	.col-md-12 .items3 li {width:390px;
	}
	.col-md-12 .items2 li {width:585px;
	}
	.col-md-12 .items1 li {width:1170px;
	}
	.col-md-6 .items6 li {width:97px;
	}
	.col-md-6 .items5 li {width:117px;
	}
	.col-md-6 .items4 li {width:146px;
	}
	.col-md-6 .items3 li {width:195px;
	}
	.col-md-6 .items2 li {width:292px;
	}
	.col-md-6 .items1 li {width:585px;
	}	
	.col-md-4 .items6 li {width:65px;
	}
	.col-md-4 .items5 li {width:78px;
	}
	.col-md-4 .items4 li {width:97px;
	}
	.col-md-4 .items3 li {width:130px;
	}
	.col-md-4 .items2 li {width:195px;
	}
	.col-md-4 .items1 li {width:390px;
	}		
	.col-md-3 .items6 li {width:48px;
	}
	.col-md-3 .items5 li {width:58px;
	}
	.col-md-3 .items4 li {width:73px;
	}	
	.col-md-3 .items3 li {width:97px;
	}
	.col-md-3 .items2 li {width:146px;
	}
	.col-md-3 .items1 li {width:293px;
	}
	.col-md-8 .items6 li {width:130px;
	}
	.col-md-8 .items5 li {width:156px;
	}	
	.col-md-8 .items4 li {width:195px;
	}
	.col-md-8 .items3 li {width:260px;
	}
	.col-md-8 .items2 li {width:390px;
	}
	.col-md-8 .items1 li { width:780px;
	}
	.col-md-9 .items6 li {width:146px;
	}
	.col-md-9 .items5 li {width:175px;
	}	
	.col-md-9 .items4 li {width:219px;
	}	
	.col-md-9 .items3 li {width:292px;
	}
	.col-md-9 .items2 li {width:439px;
	}
	.col-md-9 .items1 li {width:878px;
	}
	.visible-desktop {display:block;
	}	
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
	.carouselslider ul li {	padding:0 0 0 20px!important;
	}
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}
	.col-md-12 .carouselslider {width:720px!important;
	}
	.col-md-6 .carouselslider {width:345px!important;
	}
	.col-md-4 .carouselslider {width:220px!important;
	}
	.col-md-3 .carouselslider {width:158px!important;
	}
	.col-md-8 .carouselslider {width:470px!important;
	}
	.col-md-9 .carouselslider {width:533px!important;
	}
	.col-md-12 .items6 li { width:123px!important;
	}
	.col-md-12 .items5 li { width:148px!important;
	}
	.col-md-12 .items4 li { width:185px!important;
	}
	.col-md-12 .items3 li { width:246px!important;
	}
	.col-md-12 .items2 li { width:370px!important;
	}
	.col-md-12 .items1 li { width:740px!important;
	}	
	.col-md-6 .items6 li { width:60px!important;
	}
	.col-md-6 .items5 li { width:73px!important;
	}
	.col-md-6 .items4 li { width:91px!important;
	}
	.col-md-6 .items3 li { width:121px!important;
	}
	.col-md-6 .items2 li { width:182px!important;
	}
	.col-md-6 .items1 li { width:365px!important;
	}		
	.col-md-4 .items6 li { width:40px!important;
	}	
	.col-md-4 .items5 li { width:48px!important;
	}
	.col-md-4 .items4 li { width:60px!important;
	}	
	.col-md-4 .items3 li { width:80px!important;
	}
	.col-md-4 .items2 li { width:120px!important;
	}
	.col-md-4 .items1 li { width:240px!important;
	}	
	.col-md-3 .items6 li { width:29px!important;
	}	
	.col-md-3 .items5 li { width:35px!important;
	}
	.col-md-3 .items4 li { width:44px!important;
	}
	.col-md-3 .items3 li { width:59px!important;
	}
	.col-md-3 .items2 li { width:89px!important;
	}
	.col-md-3 .items1 li { width:178px!important;
	}
	.col-md-8 .items6 li { width:81px!important;
	}	
	.col-md-8 .items5 li { width:98px!important;
	}
	.col-md-8 .items4 li { width:122px!important;
	}	
	.col-md-8 .items3 li { width:163px!important;
	}
	.col-md-8 .items2 li { width:245px!important;
	}
	.col-md-8 .items1 li { width:490px!important;
	}	
	.col-md-9 .items6 li { width:92px!important;
	}	
	.col-md-9 .items5 li { width:110px!important;
	}	
	.col-md-9 .items4 li { width:138px!important;
	}
	.col-md-9 .items3 li { width:184px!important;
	}
	.col-md-9 .items2 li { width:276px!important;
	}
	.col-md-9 .items1 li { width:553px!important;
	}	
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11 {float: left;
	}
	.col-md-1 {width: 8.333333333333332%;
	}
	.col-md-2 {width: 16.666666666666664%;
	}
	.col-md-3 {width: 25%;
	}
	.col-md-4 {width: 33.33333333333333%;
	}
	.col-md-5 {width: 41.66666666666667%;
	}
	.col-md-6 {width: 50%;
	}
	.col-md-7 {width: 58.333333333333336%;
	}
	.col-md-8 {width: 66.66666666666666%;
	}
	.col-md-9 {width: 75%;
	}
	.col-md-10 {width: 83.33333333333334%;
	}
	.col-md-11 {width: 91.66666666666666%;
	}
	.col-md-12 {width: 100%;
	}
	.widget_flickr .flickr_badge_image,
	.widget_flickr .flickr_badge_image a,
	.widget_flickr .flickr_badge_image img { 
		width:74px!important;
		height:74px!important;
	}	
	
.refuge-day-image {
float: left;
display: block;
position: relative;
margin: 0 10px 0 0;
height: auto;
max-width: 46%;
}

div.refuge-day-image > img {height:auto; max-width:100%}

.refuge-day-text {
float: left;
display: block;
position: relative;
width: 50%;
}
	
}

@media only screen and (min-width: 459px) and (max-width: 766px) {
	.carouselslider ul li {	padding:0 0 0 20px!important;
	}
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}
	.col-md-12 .carouselslider,
	.col-md-6 .carouselslider,
	.col-md-4 .carouselslider,
	.col-md-3 .carouselslider,
	.col-md-8 .carouselslider,
	.col-md-9 .carouselslider,
	.col-md-12 .items6 li,
	.col-md-12 .items5 li,
	.col-md-12 .items4 li,
	.col-md-12 .items3 li,
	.col-md-12 .items2 li,
	.col-md-12 .items1 li,	
	.col-md-6 .items6 li,
	.col-md-6 .items5 li,
	.col-md-6 .items4 li,
	.col-md-6 .items3 li,
	.col-md-6 .items2 li,
	.col-md-6 .items1 li,
	.col-md-4 .items6 li,
	.col-md-4 .items5 li,
	.col-md-4 .items4 li,
	.col-md-4 .items3 li,
	.col-md-4 .items2 li,
	.col-md-4 .items1 li,
	.col-md-4 .items6 li,	
	.col-md-4 .items5 li,
	.col-md-3 .items4 li,
	.col-md-3 .items3 li,
	.col-md-3 .items2 li,
	.col-md-3 .items1 li,	
	.col-md-8 .items6 li,
	.col-md-8 .items5 li,
	.col-md-8 .items4 li,
	.col-md-8 .items3 li,
	.col-md-8 .items2 li,
	.col-md-8 .items1 li,
	.col-md-8 .items6 li,	
	.col-md-9 .items5 li,
	.col-md-9 .items4 li,
	.col-md-9 .items3 li,
	.col-md-9 .items2 li,
	.col-md-9 .items1 li { width:420px!important;
	}	
	
.refuge-day-image {
float: left;
display: block;
position: relative;
margin: 0 10px 0 0;
height: auto;
max-width: 46%;
}

div.refuge-day-image > img {height:auto; max-width:100%}

.refuge-day-text {
float: left;
display: block;
position: relative;
width: 50%;
}
	
}

@media only screen and (max-width: 459px) {
	.carouselslider ul li {	padding:0 0 0 20px !important;
	}
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}	
	.col-md-12 .carouselslider,
	.col-md-6 .carouselslider,
	.col-md-4 .carouselslider,
	.col-md-3 .carouselslider,
	.col-md-8 .carouselslider,
	.col-md-9 .carouselslider,
	.col-md-12 .items6 li,
	.col-md-12 .items5 li,
	.col-md-12 .items4 li,
	.col-md-12 .items3 li,
	.col-md-12 .items2 li,
	.col-md-12 .items1 li,	
	.col-md-6 .items6 li,
	.col-md-6 .items5 li,
	.col-md-6 .items4 li,
	.col-md-6 .items3 li,
	.col-md-6 .items2 li,
	.col-md-6 .items1 li,
	.col-md-4 .items6 li,
	.col-md-4 .items5 li,
	.col-md-4 .items4 li,
	.col-md-4 .items3 li,
	.col-md-4 .items2 li,
	.col-md-4 .items1 li,
	.col-md-4 .items6 li,	
	.col-md-4 .items5 li,
	.col-md-3 .items4 li,
	.col-md-3 .items3 li,
	.col-md-3 .items2 li,
	.col-md-3 .items1 li,	
	.col-md-8 .items6 li,
	.col-md-8 .items5 li,
	.col-md-8 .items4 li,
	.col-md-8 .items3 li,
	.col-md-8 .items2 li,
	.col-md-8 .items1 li,
	.col-md-8 .items6 li,	
	.col-md-9 .items5 li,
	.col-md-9 .items4 li,
	.col-md-9 .items3 li,
	.col-md-9 .items2 li,
	.col-md-9 .items1 li {	width:300px!important;
	}	
	
	.WRD_button {width: 90%;
height: auto;
margin-top: 5}

.refuge-day-image {
float: left;
display: block;
position: relative;
margin: 0 10px 0 0;
height: auto;
max-width: 46%;
}

div.refuge-day-image > img {height:auto; max-width:100%}

.refuge-day-text {
float: left;
display: block;
position: relative;
width: 50%;
}
}

/*portfolio_isotope.css*/
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	.columns4 {
		width:100%;
		margin:0!important;
	}	
	.columns4 .element {
		width:16.66666% !important; 
		margin:0 !important;
	}
	
			/* Main site navigation */	
ul.navbar-nav {padding:0;}
.navbar-default .navbar-nav > li {padding-right: 1em;
padding-left: 1em;}

.social-navbar {display:none}
.menu-carrot {left: -2em !important;}
.menu-carrot-about {left: 10em !important;}
.menu-carrot-mark {left: 27em !important;}
.main-navlinks-thecrisis{left: 275px;}
.main-navlinks-aboutus{left: 225px;}
.main-navlinks-makeyourmark{left: 120px;}


/* END - Main site navigation */	
	
}
@media only screen and (min-width: 767px) and (max-width: 959px) {
	.columns4 {
		width:100%;
		margin:0 !important;
	}
	.columns4 .element {
		width:25% !important; 
		float:left;
		margin:0 !important;		
		display:inline-block;
	}
		/* Main site navigation */	
ul.navbar-nav {padding:0;}
.navbar-nav {font-size:12px;}
.navbar-default .navbar-nav > li {padding-right: .7em;
padding-left: .6em;}

.social-navbar {display:none}
.menu-carrot {left: 7em !important;}
.menu-carrot-about {left: 14em !important;}
.menu-carrot-mark {left: 22em !important;}
.main-navlinks-thecrisis{left: 120px;}
.main-navlinks-aboutus{left: 120px;}
.main-navlinks-makeyourmark{left: 120px;}


/* END - Main site navigation */	
	
}
@media only screen and (min-width: 459px) and (max-width: 766px) {
	/*Widths*/
	.columns4 {
		margin:0 auto!important;
		width:420px!important;
	}
	.columns4 .element {
		width:420px!important; 
		margin:0 !important;
		display:inline-block!important;
	}
	/* Main site navigation */	
	.social-navbar {
float: left;
margin: 0 0 0 3em;
clear: left;
}

#main-navlinks-container {display:none !important}

.navbar-header {height: 7em !important;}

.navbar-default .navbar-nav > li {
padding-top: 30px;
}

.navbar-collapse {padding-bottom:15px}
/* END - Main site navigation */	

}
@media only screen and (max-width: 459px) {
	/*Widths*/
	.columns4 {
		margin:0 auto!important;
		width:300px!important;
	}
	.columns4 .element {
		width:300px!important;
		margin:0!important;
		float:none!important;
		display:block!important;
	}
/* Main site navigation */	
	.social-navbar {
float: left;
margin: 0 0 0 3em;
clear: left;
}

#main-navlinks-container {display:none !important}

.navbar-header {height: 7em !important;}

.navbar-default .navbar-nav > li {
padding-top: 30px;
}

.navbar-collapse {padding-bottom:15px}
/* END - Main site navigation */	
/* END only screen and (max-width: 459px) */}

.collapse {
  display: none !important;
}
.collapse.in {
  display: block !important;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
          transition: height .35s ease;
}

a.menu_toggler { display:none;
}

@media only screen and (max-width: 760px) {
	.filter_navigation ul li ul li {margin-bottom:5px !important;
	}
	#top header {
		height: 80px !important;		
		position: fixed; width: 100%; z-index: 999; top: 0; left:0;
	}
	#top header #logo {padding-bottom:0;
	}
	#top header #logo img {
		height:34px !important;
		width: auto !important;
	}
	#top header .container {position:relative;
	}
	#home {margin-top:80px;
	}
	
	
	a.menu_toggler {
		display:inline-block;
		float:right;
		margin:-17px 20px 0px 0;

		border:#cfcfcf 1px solid;
		border-radius:4px;
		box-shadow:inset #fbfbfb 0 1px 0;
		width:34px;
		height:34px;
		position:absolute;
		overflow:hidden;
		right:0;
		top:50%;
	
		background-color:#efefef;
		background-image: linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -webkit-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -moz-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -ms-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -o-linear-gradient(top, #f5f5f5, #e9e9e9);
	}
	a.menu_toggler:hover {
		background-color:#f5f5f5;
		background-image: linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -webkit-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -moz-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -ms-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -o-linear-gradient(top, #e9e9e9, #f5f5f5);	
	}

	a.menu_toggler:before {
		content:'';
		display:block;
		position:absolute;
		left:7px;
		top:7px;
		width:20px;
		height:20px;
		background-repeat:no-repeat;
		background:url(../images/btn_menu.png) no-repeat 0 0;		
	}
	.fixed-menu,
	.fixed-menu:before,
	.fixed-menu:after {
		display:none!important;
	}
	.mobile_menu_wrapper {
		display:block;
		background:#7f7777;
		position: fixed; width: 100%; z-index: 999; top: 75px; left:0;
		padding:15px 40px 20px 20px;
	}
	.mobile_menu_wrapper a {color:#eeeeee;
	}
	.mobile_menu_wrapper a:hover {color:#ff939e;
	}
	
	.fixed-menu {display:none!important
	}
	#top header nav { 
		display:none!important;
	}
	
}


