body {
	font-family:'Avenir Next W01 Light', Arial, sans-serif;
  min-height: 100%;
  padding-top: 111px;
  max-width: 1440px;
  margin:0 auto;
  background-color:#ffffff;
}

strong {
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
}

.outerlimits {
	text-align: center;
}

.dotted {
border-bottom: 1px dotted #ccc;
}

.shortpage {
padding-bottom: 20%;
padding-top: 5%;
padding-left:20%;
padding-right:20%;
}

@media (min-width: 1400px) {
	.outerlimits {
		margin: 0 auto;
		width: 1400px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
	.container-fluid {
		width: 1400px;
	}
}

.navbar-toggle {
	z-index: 9999;
}

.navbar-header{
  z-index: 5000;
}

/* Header and Main Navigation */
#header {
	position: fixed;
	top: 0;
	left: 0;
	height: 111px;
	width: 100%;
	background-color: #0088b0;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
	z-index: 5035;
}

#header-inner {
	max-width: 1310px;
	padding: 15px 45px;
	margin: 0 auto;
}

.logo {
	float: left;
	position: relative;
	z-index: 5035;
}

.navbar {
	position: fixed;
	left: 0;
	z-index: 5030;
	width: 100%;
	border-radius: 0;
	border: none;
}

.navbar ul {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 32px 0 0 0;
	text-align: center;
}

.navbar ul li {
	display: inline-block;
	height: 63px;
}

.navbar .menu-item-has-children {}

.navbar ul li a {
	color: #a6e5f7;
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
	text-decoration:none;
	outline: none;
	text-transform: uppercase;
	margin: 0 1.2em;
	font-size: 14px;
}

/*.navbar ul li a:last-child { margin-right: 0; }*/

.navbar ul li a:hover {
	color: #fff;
}

.navbar ul li ul {
	display: none;
	position: absolute;
	text-transform: uppercase;
	top: 95px;
	text-align: center;
	left: 0;
	margin: 0px;
	padding: 12px 0;
	width: 100%;
	z-index: 5035;
	overflow: visible;
	background: #fff;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
}

.navbar ul li ul li {
	float: none;
	display: inline;
	height: auto;
}

.navbar ul li ul li a {
	display: inline;
	float: none;
	color: #2591B6;
}

.navbar ul li ul li a:hover {
	color: #2591B6;
	text-decoration: underline;
}

.arc{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5000;
  background: url("../images/Top_header_BLUEBAR.png") no-repeat center top;
}

@media (max-width: 1250px) {
	.navbar ul li a {
		font-size: 12px;
	}
}

.menu > .current-menu-item > a {
	color: #fff !important;
}

/* ---------------- social icon buttons navbar --------------- */

.social-nav {
	float: right;
	position: relative;
	z-index: 5035;
}

.social-nav a {
	float: left;
	display: block;
	width: 31px;
	height: 31px;
	margin: 28px 0 0 10px;
	text-indent: 9000px;
}

#social-FB { background: url("../images/icon-soc-FB.png") no-repeat; }
#social-TW { background: url("../images/icon-soc-twitter.png") no-repeat; }
#social-YT { background: url("../images/icon-soc-youtube.png") no-repeat; }

/* ---------------- Mobile navigation --------------- */

.navbar-mobile, .mobile-menu {
	display: none;
}

@media (max-width: 1024px) {
	.navbar, .sub-menu, .social-nav {
		display: none;
	}

	.mobile-menu {
		background: url('../images/mobile-menu.png') no-repeat left top;
		width: 57px;
		height: 57px;
		position: absolute;
		top: 25px;
		right: 45px;
		margin: 0;
		z-index: 6000;
		display: block;
		cursor: pointer;
	}

	.navbar-mobile {
		width: 100%;
		position: absolute;
		top: 111px;
		z-index: 6000;
	}

	.navbar-mobile ul {
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.navbar-mobile ul li {
		display: block;
		border-bottom: solid 1px #0088b0;
		margin: 0;
		background: #fff;
		height: auto;
	}

	.navbar-mobile ul li a {
		color: #0088b0;
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
		text-decoration:none;
		outline: none;
		text-transform: uppercase;
		font-size: 14px;
		margin: 0;
		padding: 10px 0;
		display: block;
	}

	.navbar-mobile ul li a:last-child { }

	.navbar-mobile ul li a:hover {
		color: #0088b0;
		text-align: underline;
	}

	.social-nav-mobile {
		float: none;
		margin: 0 auto;
		width: 100%;
		background: #fff;
		text-align: center;
		border-bottom: solid 4px #0088b0;
		-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
	}

	.social-nav-mobile a {
		float: none;
		display: inline-block;
		width: 31px;
		height: 31px;
		margin: 15px 0 15px 10px;
		text-indent: 9000px;
	}

	.social-FB { background: url("../images/icon-mobile-soc-FB.png") no-repeat; }
	.social-TW { background: url("../images/icon-mobile-soc-twitter.png") no-repeat; width: 32px !important; }
	.social-YT { background: url("../images/icon-mobile-soc-youtube.png") no-repeat; }

	.mobile-menu-close {
		display: block;
		width: 108px;
		height: 53px;
		background: url('../images/mobile-menu-close.png') no-repeat left top;
		margin: 0 auto;
		text-indent: -9999px;
	}

}


.centerup {
	margin: 0 auto;
	text-align: center;
}

/* cycle2 styles   */


.cycle-overlay{
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: #ffffff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
  z-index: 1025;
}

.cycle-overlay h1{

  font-size: 1.9em;

}

.cycle-overlay h2{

  font-size: 1.1em;

}


.slide-text {
  position: absolute;
  top: 170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  font-size: 1.8em;
  color: #ffffff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 101;
}
@media (max-width: 1329px) {
	.slide-text {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 767px) {
	.slide-text {
		top: 70px;
		font-size: 1.7em;
	}
}

.slide-text h1 {
  font-size: 1.9em;
}
.slide-text h4 {
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
}

.slide-text h2 {

  font-size: 1.1em;

}

.slide-content {
	width: 100%;
	height: 598px;
}

.hero-slide-0 {
	background: url("../images/slideshow-imgs/header_SJWP-blog.jpg") no-repeat center;
}
.hero-slide-1 {
	background: url("../images/slideshow-imgs/Slideshow0101.jpg") no-repeat center;
}
.hero-slide-2 {
	background: url("../images/slideshow-imgs/Slideshow0102.jpg") no-repeat center;
}
.hero-slide-3 {
	background: url("../images/slideshow-imgs/Slideshow0103.jpg") no-repeat center;
}
.hero-slide-4 {
	background: url("../images/slideshow-imgs/Slideshow0104b.jpg") no-repeat center;
}

.home-hero .btn {
margin: 0 auto;
display: block;
background: url("../images/givethegift.png") no-repeat center center;
width: 457px;
height: 107px;
}

#cycle img { display: none }
#cycle img.first { display: block }


#vid-btn-cont {
	text-align: center;
	margin: 0 auto;
	position: relative;
	height: 84px;
	width: auto;
	top: -180px;
	z-index: 101;
}

.blog-btn-temp {
	text-align: center;
	margin: 0 auto;
	position: relative;
	height: 84px;
	width: auto;
	top: -180px;
	z-index: 101;
}




/* CONTACT section  */

#contact {
	padding: 40px 0;
	text-align: center;
	margin: 0 auto;
}

#contact h1,
#from-the-blog h1 {
	color: #0088b0;
	padding-bottom: 40px;
}

#contact td {
	padding: 25px 7px;
}

/* FOOTER layout */

#footer {
	background: url("../images/footer-shadow.png") repeat-x top;
	background-color: #2d2e33;
	padding: 50px;
}

#footer a {
	line-height: 1.8em;
	font-size: .85em;
	color: #0088b0;
}
#footer a:hover {
	color: #fff;
	text-decoration: underline;
}

#footer a.footerlink1 {
	display: block;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #fff;
}

#footer .rightborder {
	height: 160px;
	border-right: 1px dotted #6c6c70;
}

#footer .footerdots {
	border-top: 1px dotted #6c6c70;
	margin-top: 25px;
	padding-top: 25px;
}

#footer .copyright {
	color: #6c6c70;
	float: left;
}

#footer .terms {
	float: right;
}

#footer .terms a {
	padding-left: 25px;
}

@media (max-width: 767px) {
	#footer .footerdots {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}

	#footer .copyright {
		float: none;
		text-align: center;
	}

	#footer .terms {
		float: none;
		text-align: center;
	}

	#footer .terms a {
		padding: 0 10px;
	}
}


/*  home hero section  */

.home-hero {
	height: 636px;
	max-width: 100%;
	//max-width: 1440px;
	//background-image: url("../images/home-hero-PLACEHOLDER.jpg");
	//background-repeat: no-repeat;
	//background-position: center center;
	//background-size: cover;
	overflow-y: hidden;
}


/*  Home section 2 */

#section2 {
	padding-bottom: 50px;
}

#section2 h1 {
	padding-bottom: 40px;
	text-align: center;
	font-size: 36px;
	color: #0088b0;
}

#section2 .navbox {
	margin: 0 auto;
	text-align: center;
	width: 348px;
	padding-bottom: 25px;
}

#section2 .navbox img {
	max-width: 100%
}

#section2 .navbox p {
	padding: 1em 4em 4em 4em;
}

#section2 .navbox a {
	text-indent: -9999px;
	display: block;
	width: 348px;
	height: 213px;
	overflow: hidden;
}

#section2 .navbox a.panel1 {
	background: url("../images/home-sec2-panel1.png") no-repeat center top;
}
#section2 .navbox a:hover.panel1 {
	background: url("../images/home-sec2-panel1.png") no-repeat center -219px;
}

#section2 .navbox a.panel2 {
	background: url("../images/home-sec2-panel2.png") no-repeat center top;
}
#section2 .navbox a:hover.panel2 {
	background: url("../images/home-sec2-panel2.png") no-repeat center -219px;
}

#section2 .navbox a.panel3 {
	background: url("../images/home-sec2-panel3.png") no-repeat center top;
}
#section2 .navbox a:hover.panel3 {
	background: url("../images/home-sec2-panel3.png") no-repeat center -219px;
}



@media (min-width: 1200px) {

	
	
	.sideborders {
		border-left: 1px dotted #ccc;
		border-right: 1px dotted #ccc;
	}
}


/*  MAP section   */

#section-map {
	height: 599px;
	background-image: url("../images/home-section3-PLACEHOLDER.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	margin: 0 auto;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}

#section-map .bandBG {
	height: 599px;
	background-image: url("../images/home-section3-PLACEHOLDER-band.png");
	background-repeat: no-repeat;
	background-position: center 30%;
	background-size: contain;
}

#section-map h1 {
	color: #fff;
	padding-top: .75em;
}
@media (max-width: 991px) {


	#section-map h1 {
		font-size: 2em;
	}
}

#section-map p {
	color: #fff;
	font-size: 1.1em;
	padding-top: 17em;
}

#section-map .btn-map {
	margin: 40px auto;
	text-indent: -9999px;
	display: block;
	background: url("../images/btn-exloremap.png") no-repeat center center;
	width: 306px;
	height: 84px;
}

/*.impactmap-popup .mfp-close {
	text-indent: -5000px;
	position: absolute;
	top: 5px;
	right: 0;
	display: block;
	width: 101px;
	height: 47px;
	background: url("../images/btn-close-for-clear-bar.png") no-repeat;
	opacity: 1;
}*/






/* -------------- Crisis Page --------------- */

/*  Crisis Hero  */

.crisis-hero {
	height: 435px;
	background-image: url("../images/crisis-hero-img.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


/*  Crisis Section 2  */

#crisis-section2 {
	padding: 40px 0;
}

#crisis-section2 h1 {
	padding-bottom: 45px;
	text-align: center;
	color: #0088b0;
}
#challenge-facts .item{
  //margin: 3px;
}
#challenge-facts .item img{
  display: block;
  max-width: 100%;
  height: auto;
  margin:0 auto
}

#challenge-facts div.owl-item{
	border-right: 1px dotted #333;
	border-left: 1px dotted #333;
}

#crisis-section2 .owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

#crisis-section2 .owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -55px;
  top: 40%;
}

#crisis-section2 .owl-theme .owl-controls .owl-buttons .owl-next{
  right: -55px;
  top: 40%;
}

#crisis-section2 .owl-theme .owl-controls .owl-page span {
display: block;
width: 12px;
height: 12px;
margin: 5px 7px;
filter: Alpha(Opacity=50);
opacity: 0.5;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background: #66B9D0;
}

#crisis-section2 .owl-theme .owl-controls .owl-page.active span, #crisis-section2 .owl-theme .owl-controls .owl-page:hover span {
display: block;
width: 12px;
height: 12px;
margin: 5px 7px;
filter: Alpha(Opacity=100);
opacity: 1;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background: #66B9D0;
}


#fact-cycle{
  position: relative;
  width: 100%;
  height: 400px;
  text-align: center;
	margin: 0 auto;
}

#fact-cycle img {
  width: auto;
  height: auto;
  }


.fact-prev{
  position: inherit;
  top: 150px;
  left: -10px;
  z-index: 105;

}

.fact-next{
  position: inherit;
  top: 150px;
  right: -10px;
  z-index: 105;

}


.fact-box {
  width: 100px;
  height: 250px;
	border-right: 1px dotted #000;
	padding: 35px;
}


.fact-cycle-border{
  position: relative;
  top: -310px;
  height: 300px;
  left: 0px;
  width: 1px;
  border-left: 1px dotted #000;
  z-index: 101;

}

.crisis-fact-popup{
	position: relative;
  height: 300px;
  width: 400px;
  background-color: #ffffff;
	margin:0 auto;
	top: 20px;
  z-index: 500;

}
/*  Crisis Section 3  */

#crisis-section3 {
	border-top: 1px dotted #fff;
	//border-bottom: 1px dotted #fff;
	margin: 1px 0;
	padding-bottom: 60px;
	background: url("../images/crisis-wave-gradientBG.png") repeat-x;
	background-position: center bottom;
	background-color: #5663a7;
	text-align: left;
}
.wave-BG {
	background: url("../images/crisis-wave-BG.png") no-repeat top left;
}

#crisis-section3 h1 {
	text-align: center;
	color: #9ba3cb;
	padding: 1.5em 0;
}
#crisis-section3 h1 strong {
	color: #fff;
}
@media (max-width: 991px) {
	#crisis-section3 h1 {
		font-size: 2em;
	}
}
#crisis-section3 h2 {
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
	color: #9ba3cb;
	margin: 50px 0 25px 0;
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}

#crisis-section3 h3,
#crisis-section3 p {
	color: #fff;
}

#crisis-section3 img {
	max-width: 100%;
}

/*  -------------------  Featured NEWS and BLOG posts section  ----------------------- */

.blog_title h1,
.featured-news-blog h1 {
	color: #0088b0;
	padding-bottom: 40px;
}


.featured-news-blog {
	background: url("../images/crisis-news-gradBG.png") repeat-x bottom;
	padding: 40px 0;
	border-bottom: 1px dotted #ccc;
	border-top: 1px dotted #ccc;
	margin-top: 0;
}

.featured-news-blog .featured-posts {
	text-align: left;
}

.featured-news-blog .featured-posts a.image_type,
.featured-news-blog .featured-posts a.photoset_type,
.featured-news-blog .featured-posts a.video_type,
.featured-news-blog .featured-posts a.text_type {
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
	display: block;
	padding: 15px 0px 15px 40px;
	border-bottom: 1px dotted #000;
	font-size: 16px;
	color: #0088b0;
}

.featured-news-blog .featured-posts a.image_type {
	background: url("../images/sm-image-icon.png") no-repeat left 20px;
}

.featured-news-blog .featured-posts a.photoset_type {
	background: url("../images/sm-gallery-icon.png") no-repeat left 20px;
}

.featured-news-blog .featured-posts a.video_type {
	background: url("../images/sm-video-icon.png") no-repeat left 20px;
}

.featured-news-blog .featured-posts a.text_type {
	background: url("../images/sm-text-icon.png") no-repeat left 20px;
}

.featured-news-blog .featured-posts .news-more {
	padding: 10px 0;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}

.featured-news-blog .featured-posts .news-more a {
	font-style: italic;
}

.featured-news-blog .featured-posts img{
	width:100%;
	height:auto;
	//max-height: 300px;
}

.featured-posts p {
	padding: 10px 0;
}

#feature-cycle {
  position: relative;
  top: 1px;
  height: 100%;
  width: 100%;
  word-wrap: normal;
}

/* Single blog post styles for categories/tags */
.single-post-cats {text-align: left; margin:0 0 2em 0;}
.single-post-tags {text-align: left;}



/* ---------------  ABOUT US PAGE  --------------- */

.about-hero {
	height: 435px;
	background-image: url("../images/about-hero-img.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


/*  About Section 2  */

#about-section2 {
	padding: 40px 0;
	border-bottom: 1px dotted #000;
}

#about-section2 h1 {
	padding-bottom: 2.1em;
	text-align: center;
	font-size: 36px;
	color: #0088b0;
}

#about-section2 .btn-vid, .btn-vid {
	margin: 0 auto;
	display: block;
	background: url("../images/btn-watch-video.png") no-repeat center center;
	width: 306px;
	height: 84px;
}

#about-section2 p {
	padding: 40px 0;
}


/*  About Section 3  */

#about-section3 {
	padding: 40px 0;
	background: url("../images/about-section3-BG.png") repeat;
	border-bottom: 1px dotted #000;
}

#about-section3 h1 {
	padding-bottom: 45px;
	text-align: center;
	color: #0088b0;
}

@media (min-width: 992px) {
	.bord-bottom {
		border-bottom: 1px dotted #000;
	}
	.bord-right {
		border-right: 1px dotted #000;
	}
}

.partner-box-main {
	max-width: 550px;
	height: 147px;
	margin: 15px auto;
	border: 1px solid #ccc;
	background: url("../images/about-partner-box-main.jpg") no-repeat center center;
}

.partner-box-main td {
	width: 100%;
	height: 147px;
	padding: 0 40px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.partner-box {
	max-width: 550px;
	margin: 15px auto;
	padding: 15px;
	border: 1px solid #ccc;
	background: url("../images/about-partner-gradientBG.png") repeat-x left bottom;
}

.partner-logo {
	width: 115px;
	height: 115px;
	padding-right: 15px;
	text-align: center;
}

.partner-cnt {
	padding-left: 25px;
	padding-right: 10px;
	border-left: 1px dotted #000;
	text-align: center;
}

.partner-logo a {
	position: relative !important;
	right: auto !important;
	bottom: auto !important;
	display: block !important;
	width: auto !important;
	height: auto !important;
	background: none !important;
}



.partner-box a {
	position: absolute;
	right: 4px;
	bottom: 4px;
	display: block;
	width: 41px;
	height: 41px;
	background: url("../images/icon-PLUS-2.png") no-repeat;
}

.partner-WFP {
	background: url("../images/about-partner-WFP.png") no-repeat center center;
}

/* ======== PARTNER MODAL WINDOWS  ========== */

.partner-modal .mfp-close,
.takeatrip-modal .mfp-close {
	text-indent: -5000px;
	position: absolute;
	top: 29px;
	right: 15px;
	display: block;
	width: 91px;
	height: 32px;
	background: url("../images/partner-modal-close-button.png") no-repeat;
	opacity: 1;
}

.partner-modal {
	border-top: 60px solid #66b8d0;
	padding: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #fff;
	max-width: 1000px;
	-webkit-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
}

.partner-modal .scrollmore {
	DISPLAY: NONE;
	position: absolute;
	left: 75px;
	bottom: 40px;
	background: url("../images/partner-modal-scrollmore.png") no-repeat bottom center;
	width: 125px;
	height: 32px;
}

.partner-modal a.partner-logo {
	position: absolute;
	display: block;
	width: 200px;
	height: 200px;
}

.WFP {
	background: url("../images/Partlogo_LRG_WFP.png") no-repeat top center;
}

.PLANET {
	background: url("../images/Partlogo_LRG_PlanetWater.png") no-repeat top center;
}

.MERCY {
	background: url("../images/Partlogo_LRG_MercyCorps.png") no-repeat top center;
}

.AVINA {
	background: url("../images/Partlogo_LRG_Avina.png") no-repeat top center;
}

.CHINA {
	background: url("../images/Partlogo_LRG_CWDF.png") no-repeat top center;
}


.partner-modal .content-main {
	margin-top: -10px;
	border-left: 1px dotted #ccc;
	margin-left: 240px;
	padding-left: 50px;
}

.partner-modal h1,
.takeatrip-modal h1 {
	position: absolute;
	top: 15px;
	left: 25px;
	font-size: 16px;
	color: #fff;
}
.partner-modal .content-main h2 {
	font-size: 26px;
	color: #0088b0;
}
.partner-modal .content-main h3 {
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
	font-size: 16px;
	color: #0088b0;
}

@media (max-width: 900px) {
	.partner-modal .scrollmore {
		display: none;
	}
	.partner-modal a.partner-logo {
		display: none;
	}
	.partner-modal .content-main {
		border-left: none;
		margin-left: 0;
		padding-left: 0;
	}
}

/* ======== RESOURCE CENTER MODAL -- USES PARTNER MODAL STYLING ^^^ ========== */


.resource-block {
	float: left;
	width: 286px;
	height: 320px;
	margin: 10px;
	padding: 15px;
	border: 1px dotted #ccc;
	text-align: center;
}

.resource-block h2 {
	font-size: 16px;
	color: #0088b0;
}

.resource-block img {
	border: 1px solid #666;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
}

.resource-block a {
	display: inline-block;
	border: 1px solid #00b8d0;
	padding: 0 4px;
	margin: 2px 0;
	color: #00b8d0;
}

.resource-block a:hover {
	text-decoration: none;
	background-color: #00b8d0;
	color: #fff;
}

/* ======== TAKE A TRIP - MODAL WINDOWS  ========== */

.takeatrip-modal {
	border-top: 60px solid #66b8d0;
	padding: 140px 40px 40px 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-image: url("../images/trips-modal-banner.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #fff;
	max-width: 1000px;
	-webkit-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
}

.takeatrip-modal img {
	margin-right: 40px;
	margin-bottom: 20px;
	border: 1px solid #666;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
}
@media (max-width: 432px) {
	.takeatrip-modal img {
		margin-right: 0;
		width: 100%
		height: auto;
	}
}

/* ======== CRISIS MODAL WINDOWS  ========== */

.crisis-modal .mfp-close,
.video-modal .mfp-close {
	text-indent: -5000px;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 101px;
	height: 47px;
	background: url("../images/btn-close-for-clear-bar.png") no-repeat;
	opacity: 1;
	text-align: left;
}
.video-modal .mfp-close {
	top: -50px;
}

.crisis-modal {
	width: 100%;
	height: auto;
	max-width: 1000px;
	margin-top: 55px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
}

.crisis-modal img {
	height: inherit;
	width: inherit;
}

.divider {
	width: 100%;
	height: 1px;
	margin: 20px 0;
	border-bottom: dotted 1px #01588a;
	clear: both;
	float: left;
}

/*  About Section 4 -- Our Commitment  */

#about-section4 {
	padding: 40px 0;
	height: 706px;
	background-image: url("../images/about-commitment-BG.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-bottom: 1px dotted #000;
}

#about-section4 h1 {
	padding-bottom: 45px;
	text-align: center;
	color: #fff;
}

#about-section4 .timeline-box {
	border: 1px solid #666;
	background-color: #333;
	filter: alpha(opacity=95);
	opacity: 0.95;
}

.timeline-primary,
.timeline-year {
	float: left;
	text-align: left;
	padding: 10px 20px 10px 10px;
}

.timeline-primary h1 {
	text-align: left !important;
	font-size: 30px;
	line-height: 1;
	font-weight:700 !important;
	border-bottom: 1px dotted #66b8d0;
	padding-bottom: 20px !important;
}

.timeline-primary h2 {
	font-size: 20px;
	color: #fff;
}

.timeline-box span {
	color: #66b8d0;
}

.timeline-year h1 {
	text-align: left !important;
	font-size: 20px;
	color: #66b8d0 !important;
	background: url("../images/about-timeline-bullet.png") no-repeat left top;
	text-indent: 35px;
}

.timeline-year p {
	color: #ccc;
}
.timeline-year strong {
	color: #fff;
}

#commitment-carousel .item {
  margin: 3px;
  display: block;
  width: 100%;
  height: auto;
}
#about-section4 .owl-theme .owl-controls {
  border-top:#ccc 1px dotted; height:50px;
  }

#about-section4 .owl-buttons{
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.owl-theme .owl-controls .owl-buttons div {
	color: transparent;
	display: inline-block;
	zoom: 1;
	margin: 0;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: transparent;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
}

#about-section4 .owl-theme .owl-controls .owl-buttons .owl-prev {
	left: 0px;
	top: 10px;
	position: absolute;
}

#about-section4 .owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0px;
  top: 10px;
  position: absolute;
}

.resource-carousel-instruction {
	text-transform: uppercase;
	color: #fff !important;
	margin-top: 15px;
	display: block;
	position: relative;
	z-index: -1;
}



/* ---------------  MAKE YOUR MARK PAGE  --------------- */

/*  Make Your Mark Section 1 -- Hero  */

.mark-hero {
	height: 435px;
	background-image: url("../images/headermakeyourmark.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#section-spread-the-word {
	padding: 40px 0;
	height: 706px;
	background-image: url("../images/BG-spread-the-word.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	//border-bottom: 1px dotted #000;
}

#section-spread-the-word h1 {
	color: #fff;
	margin-bottom: 50px;
}

#section-spread-the-word .timeline-box {
	border: 1px solid #6eb9d0;
	background-color: #0088b0;
	filter: alpha(opacity=95);
	opacity: 0.95;
}

.resource-box-first,
.resource-box {
	float: left;
	text-align: left;
	padding: 10px 20px 10px 10px;
}

#resource-carousel .item {
  margin: 3px;
  display: block;
  max-width: 100%;
  height: auto;
}

#resource-carousel .item h1 {
	font-size: 26px;
	color: #fff;
}

#resource-carousel .item h2 {
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
	font-size: 18px;
	color: #84d4ec;
	padding: none;
}

#resource-carousel .item a {
	color: #fff;
	text-decoration: underline;
}

#resource-carousel .item a:hover {
	text-decoration: none;
}

#resource-carousel .item ul {
	list-style-position:inside;
	color: #fff;
	padding-left: 0px;
}

#resource-carousel .item li {
	margin-top: 15px;
}

#resource-carousel .item p {
	color: #fff;
}

#resource-carousel .resource-box-first p {
	font-size: 16px;
}


#resource-carousel .item img {
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid #666;
	-webkit-box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.25);
}




#section-spread-the-word .owl-theme .owl-controls {
  border-top:#fff 1px dotted;
  height:50px;
}

#section-spread-the-word .owl-buttons{
  position: relative;
	width: 320px;
	margin: 0 auto;
}

#section-spread-the-word .owl-theme .owl-controls .owl-buttons .owl-prev{
	left: 0px;
	top: 10px;
	position: absolute;
}

#section-spread-the-word .owl-theme .owl-controls .owl-buttons .owl-next{
  right: 0px;
  top: 10px;
  position: absolute;
}



/* ---------------  WATER NEWS PAGE  --------------- */

/*  Water News Section 1 -- Hero  */

.news-hero {
	height: 287px;
	background-image: url("../images/news-hero-img.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


/* ---------------  RUNNING WATER PAGE  --------------- */

/*  Running Water Section 1 -- Hero  */

.runningwater-hero {
	height: 287px;
	background-image: url("../images/runningwater-hero-img.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}



/* --------------  HERO TEXT FOR ALL SUB PAGES  -------------- */

.hero-text-container {
	position: relative;
  top: 30%;
  width: 100%;
  padding: 0 200px;
  text-align: center;
  color: #ffffff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

@media (max-width: 875px) {
	.hero-text-container {
		padding: 0 45px;
	}
}

@media (max-width: 500px) {
	.hero-text-container {
		top: 15%;
		padding: 0 15px;
	}
}

.hero-main {
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
  font-size: 3.5em;
  line-height: 1.1em;
  text-transform: uppercase;
}

.hero-sub {
  font-size: 1.6em;
}


/* ---------------  BLOG LIST COMMON PAGE  --------------- */


#section-news-feature-tags {
	padding: 40px 0;
	background-color: #0088b0;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}

#section-news-feature-tags h4 {
	color: #fff;
	font-size: 18px;
	padding-bottom: 20px;
}

#section-news-feature-tags a {
	float: left;
	display: block;
	color: #fff;
	padding: 10px;
	margin: 3px;
	border: 1px solid #66b8d0;
}
#section-news-feature-tags a:hover {
	border-color: #fff;
	text-decoration: none;
}


#press-releases {
	padding: 40px 0;
	background: url("../images/about-section3-BG.png") repeat;
	border-bottom: 1px dotted #000;
}

#press-releases h1 {
	padding-bottom: 20px;
	text-align: center;
	color: #0088b0;
}

#press-releases .press-box {
	padding: 20px;
	margin: 25px 0;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}

#press-releases .press-box a {
	display: block;
	padding: 13px 0;
	font-size: 16px;
	color: #0088b0;
}


.testbox {
  position: relative;
  top: 100px;
  left: 300px;
  width: 250px;
  height: 75px;
  color: blue;
  border-style: dashed;
  border-width: thin;
  border-color: blue;
  z-index: 5000;
	margin:0 auto;
}

.talkback{
  color: black;
}

#section-wtrmrk-community {
	padding: 40px 0 60px 0;
	border-bottom: 1px dotted #000;
}

#section-wtrmrk-community h1 {
	padding-bottom: 45px;
	text-align: center;
	color: #0088b0;
}

#section-wtrmrk-community p.subhead {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: #0f98a0;
	font-size: 18px;
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
}

#section-wtrmrk-community .btn-login {
	margin: 30px auto;
	display: block;
	background: url("../images/btn-login.png") no-repeat center center;
	width: 356px;
	height: 84px;
}

#section-make-donation {
	border-bottom: 1px dotted #fff;
	padding-bottom: 60px;
	background: url("../images/donation-wave-gradientBG.png") repeat-x;
	background-position: center bottom;
	background-color: #5663a7;
	text-align: center;
	color: #fff;
}

#section-make-donation h1 {
	color: #9ba3cb;
	padding: 40px 0;
}

#section-make-donation h1 strong {
	color: #fff;
}

#section-make-donation h4 {
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
	color: #9ba3cb;
	padding-bottom: 40px;
}

.donation-separator {
	margin-top: 40px;
	padding: 35px 15px;
	border-top: 1px dotted #9ba3cb;
	border-bottom: 1px dotted #9ba3cb;
}

.donation-separator strong {
	color: #9ba3cb;
}

.donation-separator a {
	text-decoration: underline;
	color: #fff;
}

.smallital {
	font-style: italic;
	font-size: 12px;
	color: #9ba3cb;
	padding-top: 15px;
}

.small-text {
	font-size: 12px;
	color: #9ba3cb;
	padding-top: 15px;
}

#section-make-donation .btn-donate {
	margin: 40px auto 0 auto;
	text-indent: -9999px;
	display: block;
	background: url("../images/btn-donate.png") no-repeat center center;
	width: 356px;
	height: 84px;
}

#section-take-trip {
	border-bottom: 1px dotted #fff;
	padding: 40px 15px 60px 15px;
	background: url("../images/BG-take-trip-map.jpg") no-repeat;
	background-position: center top;
	background-color: #eff8fa;
	text-align: center;
}

#section-take-trip h1 {
	color: #fff;
}

#section-take-trip .image-strip {
	margin-top: 35px;
	margin-bottom: 40px;
	background: url("../images/BG-take-trip-strip.png") no-repeat center;
	height: 176px;
}

#section-take-trip .btn-browse {
	//margin: 30px auto 0 auto;
	margin: 30px auto 0 22%; /* Single button centering */
	display: block;
	background: url("../images/btn-browse-trips.png") no-repeat center center;
	width: 356px;
	height: 84px;
}

#section-take-trip .btn-submit-app {
	margin: 30px auto 0 auto;
	//margin: 30px 15px;
	text-indent: -9999px;
	display: block;
	background: url("../images/btn-submit-app.png") no-repeat center center;
	width: 356px;
	height: 84px;
}


#map-overlay{
	border-top: 60px solid #66b8d0;
  width: 1000px;
  height: 585px;
  z-index: 140;
  margin:0 auto;
  //background: url("../images/MAP-title.png") no-repeat;
  //background-position: 15px -15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.25);
}

#vmap {
  //display: inherit;
	position: relative;
	background: url('../images/map_bg.jpg') no-repeat left top;
	z-index: 150;
	margin:0 auto;
	top: 20px;
}

.zoom_text {
	position: absolute;
	top: 12px;
	left: 35px;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
}

/* Magnific pop-up background overlay */
.mfp-bg {opacity: 0.9;
filter: alpha(opacity=90);}

.worldPop {
	display: none;
	width: 820px;
	height: 340px;
	margin-left: -410px;
	position: absolute;
	left: 50%;
	top: 70px;
	z-index: 1000;
	background: url('../images/map-pop-bg.jpg') repeat-x left top;
	border: solid 5px #12a37b;
	overflow: visible;
	-moz-box-shadow: 0px 0px 16px 1px #042743;
	-webkit-box-shadow:  0px 0px 16px 1px #042743;
    box-shadow:  0px 0px 16px 1px #042743;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=0, Color='#042743')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=0, Color='#042743');
}

.worldPop #country_info {
	position: absolute;
	top: -15px;
	left: -20px;
	z-index: 200;
}

.worldPop .close {
	width: 24px;
	height: 24px;
	background: url('../images/world_close.jpg') no-repeat;
	text-indent: -9999px;
	position: absolute;
	top: -5px;
	right: -5px;
	z-index: 1100;
	opacity: 1;
}

/*.worldPop #learn_more {
	width: 150px;
	height: 35px;
	background: url('../images/learn_more.png') no-repeat left top;
	text-indent: -9999px;
	z-index: 1100;
	position: absolute;
	bottom: 20px;
	right: 60px;
}*/

.worldPop #learn_more {
	width: 116px;
	height: 35px;
	background: url('../images/BTN_learnmore.png') no-repeat left top;
	text-indent: -9999px;
	z-index: 1100;
	position: absolute;
	bottom: 20px;
	right: 140px;
}

.worldPop #map_donate {
	width: 116px;
	height: 35px;
	background: url('../images/BTN_donatenow.png') no-repeat left top;
	text-indent: -9999px;
	z-index: 1100;
	position: absolute;
	bottom: 20px;
	right: 10px;
}

#map-overlay .mfp-close {
	text-indent: -5000px;
	position: absolute;
	top: 14px;
	right: 15px;
	display: block;
	width: 91px;
	height: 32px;
	background: url("../images/partner-modal-close-button.png") no-repeat;
	opacity: 1;
}

#map_photo_credit{
  position:  absolute;
  left: 25px;
  bottom: 6px;
  font-size: 12px;
  font-style: italics;
}

.map-modal-title {
	position: absolute;
	top: 20px;
	left: 20px;
	color: white;
}

#overlay {
	width: 950px;
	height: 475px;
	background: url('../images/overlay.png') repeat left top;
	display: none;
	position: absolute;
	z-index: 50;
}

#sb-container{
  z-index: 8000;
}

#video{
  display: none;
  z-index: 8000;
}
#video_overlay{
  display: none;
  z-index: 8000;
}
#video-player{
  display: none;
  z-index: 8000;
}

/* Single blog post page (Water News & Running Water) */
.post-content{
  position: relative;
  padding-top: 60px;

}

.post-featured-image{
  position:relative;
  max-width:100%;
	height:auto;
	overflow: hidden;

}

.post-featured-image img {
	height:auto;
}


.post-featured-image img.thumbnail {
	width:100%;
	height:auto;
}

#post-title{
  position: relative;
  width: 100%;
  display: block;
  margin:1em 0;
}

.clear-post-float{
    clear:both;
}

.post-title-text{
  position: relative;
  float: left;
  width:80%;
  font-size: 18px;
  text-align: left;
  color: #0088b0;
}

#postmeta {
	text-align: left;
	color: #aaaeb0;
	padding-bottom: 30px;
	margin: 25px 0 30px;
	border-bottom: 1px dotted #333;
}

#postmeta a {
	font-style: italic;
}

.postnav {
	text-align: left;
}

#postprev a {
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
	float: left;
	display: inline-block;
	background: url("../images/btn-icon-leftarrow.png") no-repeat left center;
	padding: 6px 0 6px 45px;
}

#postnext a {
	font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
	float: left;
	display: inline-block;
	background: url("../images/btn-icon-rightarrow.png") no-repeat right center;
	margin-left: 30px;
	padding: 6px 45px 6px 0;
}

.post-social-btns{
	position: relative;
  float: right;
  width:20%
  right: 0px;
}

.postbody{ text-align: left;}


.post-authorbar {
	text-align: left;
	margin: 60px 0 25px 0;
	padding: 10px 0 25px 0;
	border-top: 1px dotted #333;
	border-bottom: 1px dotted #333;
}
.post-authorbar h5,
.single-post-cats h5,
.single-post-tags h5 {
	color: #0088b0;
	font-size: 18px;
}
.post-authorbar .author_image {
	float: left;
}

.post-authorbar .author_name {
	position: relative;
	left: 15px;
	top: 0;
}

.post-authorbar .author_title {
	position: relative;
	left: 15px;
	top: 0;
}

.single-post-tags {
	margin-top: 25px;
	padding-top: 10px;
	border-top: 1px dotted #333;
}

.single-post-cats a,
.single-post-tags a {
	float: left;
	display: inline-block;
	color: #666;
	padding: 8px;
	margin: 2px;
	border: 1px solid #666;
}
.single-post-cats a:hover,
.single-post-tags a:hover {
	text-decoration: none;
	border-color: #0088b0;
	background-color: #f5f5f5;
}

/* Category Pages */
.individual-archive {
	margin:0 0 2em 0;
	text-align: left;
}
.individual-archive-tag-spacer {margin:3em 0 0 0;}
.post-featured-thumbnail{width:150px; height:auto; float: left; margin:0 .5em .5em 0;}
.post-featured-thumbnail img{max-width:100%; height:auto;}

.individual-archive img {
	margin-right: 10px;
	width: 100%;
	height: auto;
	/* border: 1px solid #999;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2); */
}

.individual-archive .thumbnail {
	display: block;
padding: 0!important;
border: none!important;
border-radius: 0!important;
-webkit-transition: none!important;
transition: none!important; }

.individual-archive-title {
  font-size: 18px;
  color: #0088b0;
  padding-bottom: 15px;
}

.category_title, .tag_title {color: #0088b0; padding-bottom: 40px; text-align: left}
.category_content_section {padding-top: 45px;padding-bottom: 60px; border-bottom: 1px dotted #000;}

/* -------------  RESPONSIVE YOUTUBE EMBEDS ------------------ */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-top: 30px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------------- ------------------ */
/* ------------- REFUGEE DAY MODAL STYLES ------------------ */
/* ------------- ------------------ */
.refuge-day-image {float:left; display:block; position:relative; margin:0 10px 0 0;}
.refuge-day-text {float:left; display:block; position:relative; width:470px;}
.refuge-day-text p{margin: 0 0 14px 0;font-size: 15px}
.refugee-header{color:#0a89a9; font-size: 20px !important;}


.reset {clear:both;}


